*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    background-color: rgba(59, 50, 221, 0.875);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100vw;
    height: 100vh;
}
h1{
    margin: 10px;
}
